---
	const {lang} = Astro.props
---

<!-- {console.log(JSON.stringify(Astro.props))} -->

<div class="border-red-600 border-2 h-[900px] " id='playground'>Playground!</div>

<script type="module" define:vars={{ lang }} is:inline>
	// import {SeenPlayground} from '/#seen-playground/splay';
	import SeenPlayground from '/src/lib/seen-playground/splay.js';
	import {EXAMPLES_AR, EXAMPLES_EN} from '/src/lib/seen-examples/all.js'
	
	const editor = SeenPlayground(
		'splay',
		document.querySelector('#playground'),
		{
			lang: lang,
			theme: document.documentElement.dataset.theme,
			examples: {
				ar: EXAMPLES_AR, 
				en: EXAMPLES_EN
			}                        
		}
	)

	console.log("EDITOR: " , editor.contentWindow)


	const themeSelector = document.querySelector("starlight-theme-select select")
	console.log('theme: ', themeSelector.value)
	themeSelector.addEventListener('change', () => {
		// editor = document.querySelector('#playground> #splay')
		const editor_win = editor.contentWindow || editor		
		editor_win.setEditorTheme(themeSelector.value)
	})

</script>