---
	const {lang} = Astro.props
---

<div class="h-[900px] " id='playground'>Playground!</div>

<script type="module" define:vars={{ lang }} is:inline>
	import SeenPlayground from '/splay.js';
	import {EXAMPLES_AR, EXAMPLES_EN} from '/seen-examples/all.js'
	
	const editor = SeenPlayground(
		'splay',
		document.querySelector('#playground'),
		{
			lang: lang,
			theme: document.documentElement.dataset.theme,
			examples: {
				ar: EXAMPLES_AR, 
				en: EXAMPLES_EN
			}                        
		}
	)

	const themeSelector = document.querySelector("starlight-theme-select select")
	themeSelector.addEventListener('change', () => {
		const editor_win = editor.contentWindow || editor		
		editor_win.setEditorTheme(themeSelector.value)
	})

</script>