---
	const {lang} = Astro.props
---

<!-- {console.log(JSON.stringify(Astro.props))} -->

<div class="border-red-600 border-2 h-[900px] " id='playground'>Playground!</div>

<script type="module" define:vars={{ lang }} is:inline>
	// import {SeenPlayground} from '/#seen-playground/splay';
	import SeenPlayground from '/src/lib/seen-playground/splay.js';
	import {EXAMPLES_AR, EXAMPLES_EN} from '/src/lib/seen-examples/all.js'
	
	const editor = SeenPlayground(
		'splay',
		document.querySelector('#playground'),
		{
			lang: lang,
			theme: document.documentElement.dataset.theme,
			examples: {
				ar: EXAMPLES_AR, 
				en: EXAMPLES_EN
			}                        
		}
	)

	console.log("EDITOR: " , editor.contentWindow)


	const themeSelector = document.querySelector("starlight-theme-select select")
	console.log('theme: ', themeSelector.value)
	themeSelector.addEventListener('change', () => {
		// editor = document.querySelector('#playground> #splay')
		const editor_win = editor.contentWindow || editor		
		editor_win.setEditorTheme(themeSelector.value)
	})


	// window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change',() => {
	// 	console.log(window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')
	// })

	// console.log('does this print?')
	// window.matchMedia('(prefers-color-scheme: dark)').addEventListener("change", function () { 
		/* code */ 
		// console.log('theME CHANGED!')
	// });



	// window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change',() => {
	// 	let selected = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
	// 	// console.log(selected)
	// 	editor_win.setEditorTheme(selected)
	// })


	// function selectExample() {
	// 	let k = document.querySelector('#examples').value 
	// 	const code = EXAMPLES[k][1]
	// 	const editor = document.querySelector('#editor-container> #seen-editor')
	// 	const editor_win = editor.contentWindow || editor
	// 	editor_win.setEditorValue(code)
	// 	editor_win.hidePreview()
	// 	editor_win.hideRightSide()
	// 	editor_win.resetOutput()
	// }	
</script>